:root {
  font-family: "Montserrat-Medium";
  font-size: 2vh;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  overflow-x: hidden;

}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
.nav__btn {
  font-size: 1rem;
  font-family: "Montserrat-Medium";
  cursor:pointer;
  display: inline-block;
  padding: 1vh;
}
.nav__btn-container {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}
.fs-center {
  display: flex;
  justify-content: center;
}
.about-contact-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}
.about-contact-container {
  display: flex;
  width: 98vw;
  justify-content: space-between;
  margin: 1vh 1vw;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 98vw;
}
.logo {
  background-image: url("images/logo.png");
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13vw;
  transform: translateY(2vh);

}
section {
  display: none;
}
.home-section {
  display: grid;
  height: 70vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 3vh;
  grid-template: 50% 50% / 50% 25% 25%;

}

.home-left-wrapper {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: inline-block;
  background-image: url("images/sample5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% - 1vw);


}
.box {
  width: calc(100% - 2vw);
  margin-left: 1vw;
  height: calc(100% - 1vw);

}
.box1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-image: url("images/sample1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;


}
.box2 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-image: url("images/sample2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;


}
.box3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-image: url("images/sample3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1vw;



}
.box4 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-image: url("images/sample4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1vw;




}
