/*all ProximaNova fonts technically catamaran...*/

:root {
  --green-main: #66bb6a;
  --pink-main: #ff79b0;
  --black-text: rgba(20,20,20,1);
}
@font-face {
  font-family: ProximaNova-Light;
  src: url("fonts/Catamaran/Catamaran-Light.ttf");
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url("fonts/Catamaran/Catamaran-Bold.ttf");
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url("fonts/Catamaran/Catamaran-Regular.ttf");
}
@font-face {
  font-family: Catamaran-ExtraBold;
  src: url("fonts/Catamaran/Catamaran-ExtraBold.ttf");
}
